#latestData{
  width: 60%;
  padding: 10px;
  float: left;
  height: 300px;
  font-size: 14px;
}
#latestData tr{
  cursor: pointer;
}
#latestData tr{
  text-align: center;
  word-break: keep-all;
  word-wrap: none;
  white-space: nowrap;
}
#latestData tr.bg td{background-color: #e6e6e6;}
#latestData tr .th-inner{
  color: white;
  background-color: #1199D3;
  padding: 0 16px 0 0!important;
  text-align: center;
}
#latestData tr .th-inner,#latestData tr td{
  padding: 0;
  font-size: 14px;
}
#map{
  width: 40%;
  padding: 10px;
  float: left;
  height: 300px;
}
#mapContent{
  height: 100%;
}
/* 选项卡 */
#tabbar{
  list-style: none;
  overflow: hidden;
  padding: 0 10px;
}
#tabbar li:first-child{
  border-radius: 4px 0 0 4px;
}
#tabbar li:last-child{
  border-radius: 0 4px 4px 0;
}
#tabbar li{
  float: left;
  width: 33.3%;
  text-align: center;
  color: white;
  background-color: #1199D3;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
}
#tabbar li:hover,#tabbar li.current{
  background-color: #00436B;
}
/* 底部选项卡内容 */
#tabMain{
  padding: 0 10px;
}
#tabMain::after{
  content: '';
  display: block;
  clear: both;
}
#tabMain>li{
  display: none;
}
#tabMain>li.current{
  display: block;
}
.equipment{
  font-size: 14px;
  text-indent: 5px;
}
/* 设备信息 */
#box_info{
  padding: 5px;
  width: 50%;
  list-style: none;
}
#box_info::after{
  content: '';
  display: block;
  clear: both;
}
#box_info li{
  float: left;
  width: 33%;
}
/* 数据查询 */
#dataTable{
  font-size: 12px!important;
  text-align: center;
}
#dataTable tr .th-inner{
  padding: 0!important;
  text-align: center;
}
#dataTable tr td{padding: 0;}
.dataTable .fixed-table-pagination>div{margin: 0!important;}
/* 曲线查询 */
.chart,#chart{
  height: 300px;
}